NODE_ENV=development
PORT=4000

# PostgreSQL connection string.
# Over TCP:    postgresql://USER:PASSWORD@localhost:5432/DBNAME?schema=public
# Over socket: postgresql://USER@localhost/DBNAME?host=/var/run/postgresql&schema=public
DATABASE_URL="postgresql://user:password@localhost:5432/clickclue?schema=public"
FRONTEND_URL= "http://localhost:5173"